body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F7F3;
}

.isi-hal1 {
    width: 1300px;
    position: relative;
    margin: auto;
}
.header {
    background-color: #F8F7F3;
    width: auto;
    margin: auto;
}

.header-logo {
    display: flex;
    justify-content: center;
}

.header-logo img {
    width: 300px;
}

.navigasi {
    line-height: 30px;
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
    border-bottom: 1px solid #b5e1fa;
    top: 0;
}

.menu {
    background-color: #F8F7F3;
    display: flex;
    justify-content: center;
}

.menu li {
    float: left;
    list-style: none;
    padding: 70px;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #0FA3B1;
}

.menu ul li a:hover {
    color: #f7a172;
}

.main {
    margin-top: 100px;
}

.isi-main {
   text-align: center;
}

.isi-main h1 {
    color: #f7a172;
    font-size: 50px;
}

.isi-main p {
    color: #0FA3B1;
    font-size: 20px;
    letter-spacing: 1px;
}

.isi-main h1 span {
    color: #0FA3B1;
}

.isi-main p span {
    color: #f7a172;
}

.main2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main2 img {
    width: 800px;
    padding: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 150px;
}

.isi-main3 p {
    color: #0FA3B1;
    font-size: 20px;
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.isi-main3 a {
    border: solid #f7a172;
    padding: 9px;
    background-color: #f7a172;
    color: #ffff;
    font-size: 18px;
    border-radius: 50px;
    text-decoration: none;
    letter-spacing: 3px;
}

.isi-main3 a:hover {
    border: dashed #f7a172;
    background-color: #F8F7F3;
    color: #0FA3B1;
    transition: 0.3s;
}

.footer {
    background-color: #0FA3B1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.info-kontak, .footer-isi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-kontak a {
    float: left;
}

.info-kontak a img {
    width: 25px;
    padding: 20px;
    padding-bottom: 0px;
    filter: invert(99%) sepia(60%) saturate(144%) hue-rotate(321deg) brightness(102%) contrast(94%);
}

.info-kontak img:hover {
    filter: invert(82%) sepia(55%) saturate(346%) hue-rotate(172deg) brightness(96%) contrast(104%);
}

.footer-isi p {
    color: #F8F7F3;
    font-size: 16px;
}