body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F7F3;
}

.isi-hal1 {
    width: 1300px;
    position: relative;
    margin: auto;
}
.header {
    background-color: #F8F7F3;
    width: auto;
    margin: auto;
}

.header-logo {
    display: flex;
    justify-content: center;
}

.header-logo img {
    width: 300px;
}

.navigasi {
    line-height: 30px;
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
    border-bottom: 1px solid #b5e1fa;
    top: 0;
}

.menu {
    background-color: #F8F7F3;
    display: flex;
    justify-content: center;
}

.menu li {
    float: left;
    list-style: none;
    padding: 70px;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #0FA3B1;
}

.menu ul li a:hover {
    color: #f7a172;
}

.judul-contact {
    margin-top: 100px;
    text-align: center;
}

.judul-contact h1 {
    font-size: 80px;
    color: #2d5a6f;
}

.judul-contact #hubungi {
    color: #0FA3B1;
}

.judul-contact #saya {
    color: #f7a172;
}

.baris-contact {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    margin-bottom: 100px;
}

.kolom-contact {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 35%;
}

.card-contact {
    width: 400px;
    margin: auto;
    margin-top: 43px;
    margin-bottom: 43px;
    text-align: center;
    border: solid 3px #b5e1fa;
    border-radius: 15px; 
    overflow: hidden;
}

.card-contact img {
    width: 150px;
    margin-top: 30px;
    filter: invert(32%) sepia(6%) saturate(3892%) hue-rotate(155deg) brightness(91%) contrast(86%);
}

.card-content h1 {
    font-size: 30px;
    padding: 10px;
    color: #2d5a6f;
}
    
.card-content a {
    font-size: 18px;
    letter-spacing: 1px;
    display: block;
    border: solid 2px #f7a172;
    background-color: #f7a172;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    overflow: hidden;
}

.card-content a:hover {
    background-color: #F8F7F3;
    border: solid 2px #0FA3B1;
    color: #2d5a6f;
    transition: 0.4s;
}

.card-content {
    padding: 10px;
}

.footer {
    background-color: #0FA3B1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.info-kontak, .footer-isi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-kontak a {
    float: left;
}

.info-kontak a img {
    width: 25px;
    padding: 20px;
    padding-bottom: 0px;
    filter: invert(99%) sepia(60%) saturate(144%) hue-rotate(321deg) brightness(102%) contrast(94%);
}

.info-kontak img:hover {
    filter: invert(82%) sepia(55%) saturate(346%) hue-rotate(172deg) brightness(96%) contrast(104%);
}

.footer-isi p {
    color: #F8F7F3;
    font-size: 16px;
}